{{- $title := .Get "title" -}}
{{- $subtitle := .Get "subtitle" -}}
{{- $img := .Get "img" -}}
{{- $link := .Get "link" -}}

<div class="book-entry">
<div class="book-cover">
{{- if $img -}}
{{- if $link -}}<a href="{{ $link }}" target="_blank" rel="noopener">{{- end -}}
<img src="/{{ $img }}" alt="{{ $title }} cover" loading="lazy">
{{- if $link -}}</a>{{- end -}}
{{- end -}}
</div>
<div class="book-info">
<h3>{{- if $link -}}<a href="{{ $link }}" target="_blank" rel="noopener">{{- end -}}{{ $title }}{{- if $link -}}</a>{{- end -}}</h3>
<p>{{ $subtitle }}</p>
</div>
</div>
